**/*ipr
**/*iws
**/*iml
target
bin
.settings
.classpath
.project
**/**.iml
**.iml
**/**.ipr
**.ipr
**/**.iws
**.iws
.idea
*/src/main/java/META-INF
*/src/main/webapp/META-INF
spring-integration-gemfire/BACKUP_*
spring-integration-gemfire/KEYS_*
spring-integration-gemfire/RECOVERY_*
jredis.log
npm-debug.log
.DS_Store
**/.DS_Store

