**/*ipr
**/*iws
**/*iml
target
.springBeans
.settings
**/**.iml
**.iml
**/**.ipr
**.ipr
**/**.iws
**.iws
.idea
spring-integration-gemfire/BACKUP_*
spring-integration-gemfire/KEYS_*
spring-integration-gemfire/RECOVERY_*

